/* ---------------------------------------------------------------------- */
/* Reset margin and padding */
/* ---------------------------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 0.5% 2%;
  background-color: aliceblue;
}
.app_body {
  display: flex;
  gap: 3%;
  width: 96%;
  padding: 1% 2%;
}

/* ---------------------------------------------------------------------- */
/* Expense Panel Component Styling */
/* ---------------------------------------------------------------------- */

.expense_panel {
  min-height: 90dvh;
  max-height: 90dvh;
  flex: 1;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  padding-top: 0.5%;
}
.expense_panel .button {
  padding: 2% 4%;
  background-color: aquamarine;
}
.add_button {
  width: 90%;
  background-color: black;
}
form {
  background-color: bisque;
  width: 95%;
}
form h2 {
  text-align: center;
  text-decoration: underline;
  padding-top: 2%;
}
form label {
  display: block;
  margin: 4% 5%;
}
form input {
  font-size: 1.5em;
  width: 80%;
  margin: 0 10%;
  background-color: aqua;
}
form textarea {
  width: 80%;
  margin: 0 10%;
}
.save_button {
  width: 80%;
  margin: 2% 10%;
}

/* ---------------------------------------------------------------------- */
/* Expense Card Styling */
/* ---------------------------------------------------------------------- */

.expense_card {
  border: 1px solid black;
  width: 90%;
  overflow-y: scroll;
}
.expense_card_item {
  margin: 5%;
  padding: 5% 15%;
}
.mandatory_category {
  background-color: rgba(220, 226, 43, 0.53);
}
.non_essential_category {
  background-color: rgba(95, 111, 160, 0.505);
}
.debt_category {
  background-color: rgba(118, 50, 1, 0.505);
}
.savings_category {
  background-color: rgba(197, 3, 3, 0.513);
}
.expense_card .item_name {
  color: rgb(0, 0, 0);
  font-size: 0.8em;
  text-align: left;
}
.expense_card .item_amount {
  font-size: 1.5em;
  font-weight: 500;
  text-align: left;
}
.expense_card .item_date {
  font-size: 0.7em;
  text-align: right;
}

/* ---------------------------------------------------------------------- */
/* Report Panel Component Sytling */
/* ---------------------------------------------------------------------- */

.reports_panel {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: brown;
  color: white;
  flex: 3;
  font-size: 5em;
}
