/* ---------------------------------------------------------------------- */
/* Reset margin and padding */
/* ---------------------------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 0.5% 2%;
  background-color: aliceblue;
}
.app_body {
  display: flex;
  gap: 3%;
  width: 96%;
  padding: 1% 2%;
}

/* ---------------------------------------------------------------------- */
/* Expense Panel Component Styling */
/* ---------------------------------------------------------------------- */

.expense_panel {
  min-height: 90dvh;
  max-height: 90dvh;
  flex: 1;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  padding-top: 0.5%;
}
.expense_panel .button {
  padding: 2% 4%;
  background-color: aquamarine;
}
.add_button {
  width: 90%;
  background-color: black;
}
form {
  background-color: bisque;
}
form h2 {
  text-align: center;
  text-decoration: underline;
  font-size: 1em;
  padding-top: 2%;
}
form label {
  font-size: .7em;
  display: block;
  margin: 4% 5%;
}
form input {
  font-size: .7em;
  margin: 0 10%;
  background-color: aqua;
}
form textarea {
  width: 80%;
  margin: 0 10%;
}
.save_button {
  width: 90%;
  margin: 2% 5%;
}

/* ---------------------------------------------------------------------- */
/* Expense Card Styling */
/* ---------------------------------------------------------------------- */

.expense_card {
  border: 1px solid black;
  overflow-y: scroll;
}
.expense_card_item {
  background-color: rgb(216, 216, 216);
  margin: 5%;
  padding: 5% 15%;
}
.mandatory_category {
  border-right: 20px solid #dce22b87;
}
.non_essential_category {
  border-right: 20px solid #5f6fa081;
}
.debt_category {
  border-right: 20px solid #76320181;
}
.savings_category {
  border-right: 20px solid #c5030383;
}
.expense_card .item_name {
  color: rgb(0, 0, 0);
  font-size: .6em;
  text-decoration: underline;
  text-align: left;
}
.expense_card .item_amount {
  font-size: 1em;
  font-weight: 500;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
  text-align: left;
}
.expense_card .item_date {
  font-size: 0.5em;
  font-family: 'Courier New', Courier, monospace;
  text-align: right;
}

/* ---------------------------------------------------------------------- */
/* Report Panel Component Sytling */
/* ---------------------------------------------------------------------- */

.reports_panel {
  background-color: brown;
  color: white;
  flex: 3;
  font-size:1.5em;
}
.time p {
  font-size: .5em;
  text-align: right;
  margin: 2% 5%;
}

/* ---------------------------------------------------------------------- */
/* Media Query for Mobile Screen Devices */
/* ---------------------------------------------------------------------- */ 

@media (max-width: 480px) {
  .app_body {
    display: flex;
    flex-direction: column-reverse;
  }
}
